@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); /* Fonte similar a Arial */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F5F8; /* Fundo cinza claro */
  color: #333333; /* Texto em tom de cinza */
}

